.contact-main{
    background-color: black;
    color: white;
}
.my-form{
    text-align: left;
    background-color: black;
}
.form-div{
    display: flex;
    flex-direction: column;
}
.dark{
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 30px;
}
.my-dark {
    background-color: black;
    color: white; 
    border-radius: 15px;
    margin-top: 10px;
    padding-left: 30px;
}
.social-response{
    text-align: left;
}
.for-fontaswame{
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
}
.facebook{
    color: #3B5998;
}
.linkedin{
    color: #00a0dc;
}
.whatsapp{
    color: #25D366;
}
.skype{
color: #00aff0;
}
.github{
    color: #171515;
}
