.skills-main{
    background-color: black;
    color: white;
}
.banneres{
    box-shadow: 5px 5px 5px rgb(161, 139, 139);
    border-radius: 30px;
}
.alignment{
    text-align: left;
}

.banneres:hover{
    background-image: linear-gradient(#f0f8ff77, #6494ed9d);
    transform: scale(1.06);
    transition: transform 4s ease-out;
   
}