.project-main{
    background-color: black;
    color: white;
}
.project{
    text-align: left;
}
.link-att{
    display: flex;
    justify-content: space-between;
}
.anchor-tag:hover:after{
    width: 0;
 }
 